@font-face{
  font-family: 'Saitamaar';
  src: local('Saitamaar'),
    url('http://keage.tokyo/fonts/Saitamaar.eot?') format('eot'),
    url('http://keage.tokyo/fonts/Saitamaar.woff2') format('woff2'),
    url('http://keage.tokyo/fonts/Saitamaar.woff') format('woff'),
    url('http://keage.tokyo/fonts/Saitamaar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  touch-action: manipulation;
}

body {
  background-color: #eee;
  font: 16px/1.125 'ＭＳ Ｐゴシック', 'MS PGothic', 'MS Pｺﾞｼｯｸ', 'MS Pゴシック', ＭＳＰゴシック, MSPゴシック, IPAMonaPGothic, 'IPA モナー Pゴシック', 'IPA mona PGothic', 'IPA MONAPGOTHIC', Mona, Monapo, Saitamaar, sans-serif;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}